*{
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 5px;
}

#top{
  text-align: right;
  padding: 0;
  padding-right: 10px;
  margin-left: 3px;
  font-size: 25px;
  font-weight: bold;
  width: 32%;
  position: absolute;
  background-color: #F0F0F0;
  border: 0;
}

#display{
  text-align: right;
  padding: 20px 10px 0px 10px;
  margin-left: 3px;
  font-size: 50px;
  font-weight: bold;
  width: 98%;
  background-color: #F0F0F0;
  border: 0;
}

#block{
  display: block;
  background-color: grey;
  width: 35%;
  height: 59%;
  padding: 1%;
}

input{
  width: 23.3%;
  text-align: center;
  padding: 4px 0 4px 0;
}

.button{
  width: 19%; /* 버튼 너비: 부모 요소 기준 */
  height: 60px; /* 버튼 높이 */
  text-align: center;
  font-size: 30px; /* 글자 크기 */
  margin: 5px; /* 버튼 간격 */
  border-radius: 5px; /* 모서리 둥글게 */
}

.b{
  width: 100%;
}

#equal{
  width: 44%;
}

